
body{
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    color: #070707;
}

.sitelogo{
    width: 250px;
    min-width: 250px;
}

.navbar {
    background: #ffffff;
    font-family: 'Caudex', serif;
    padding-left: 100px;
    padding-right: 100px;
}


.navbar .nav-item .nav-link{
    color:#4b4b4b;
    margin-right: 5px;

}

.navbar .nav-item .nav-link:hover{
    color:#a97a7d;

}

.rowUp{
    
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}

.rowDown{
    font-weight: 700;
    font-size: 16px;
    
}

.navbar .navbutton{
    background: #a97a7d;
    font-family: 'Caudex', serif;
    color: #fff;
    border-radius: 0;
    border: 1px solid #a97a7d;
    font-size: 14px;
    margin-left: 10px;
    padding: 10px;
    font-weight: 700;
    line-height: 14px;
}

.navbar-toggler {
    border: none;
}

.navbar .navbutton:hover{
    background: #eedfe0;
    border: 1px solid #eedfe0;
}    


@media (max-width:1450px){

    .sitelogo{
        width: 200px;
        min-width: 200px;
    }
    
    .rowUp{
    
        font-weight: 700;
        font-size: 12px;
        line-height: 40px;
    
    }
    
    .rowDown{
        font-weight: 700;
        font-size: 14px;
        
    }

    .navbar .navbutton{
        
        font-family: 'Caudex', serif;
        color: #fff;
        border-radius: 0;
        border: 1px solid #a97a7d;
        font-size: 14px;
        margin-left: 10px;
        padding: 10px;
        font-weight: 700;
        line-height: 14px;
    }
}

@media (max-width:1450px){

    .sitelogo{
        width: 200px;
        min-width: 200px;
    }
    
    .rowUp{
        font-size: 10px;  
    }
    
    .rowDown{
        font-size: 12px;    
    }

    .navbar .navbutton{
        font-size: 12px;
        margin-left: 10px;
        padding: 10px;
    }
}


@media (max-width:1199px){

    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .sitelogo{
        width: 200px;
        min-width: 200px;
    }
    
    .rowUp{
        font-size: 12px;
    }
    
    .rowDown{
        font-size: 20px;
        line-height: 40px;   
    }
}


@media (max-width:600px){

    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
   
    .sitelogo{
        width: 200px;
        min-width: 200px;
    }
        
    .rowDown{
        font-size: 14px;        
    }
}


@media (max-width:400px){

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }
      
}

@media (max-width:280px){

      .sitelogo{
        width: 150px;
        min-width: 150px;
    }
} 

.section2{
    
    padding-top: 135px;
    padding-bottom: 60px;
    background: url(img/mainBg.jpg) no-repeat center center scroll; 
    background-size: cover;
    position: relative;

}

.section2 h1{
    font-family: 'Caudex', serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #4b4b4b;
    margin-bottom: 30px; 
}

.section2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4b4b4b;
    margin-bottom: 40px; 
}

.section2 button{
    font-family: 'Caudex', serif;
    border-radius: 0%;
    font-size: 14px;
    text-transform: uppercase;
    background: #eedfe0;
    border: 1px solid #eedfe0;
    color: #4b4b4b;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.section2 button:hover{
background: #a97a7d;
border: 1px solid #a97a7d;
}


.imagesStyle img{
    width: 550px;
    padding-bottom: 10px; 
}


@media (max-width: 768px) {
    .imagesStyle img{
        padding-top: 15px;
      width: 450px;
    }
  }

.destination{
    margin-top: 50px;
    margin-bottom: 50px;
}

.destinationpic{
    background: url(img/destination.jpg);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    margin:0 auto;
}


.destinationpicText h1{
    font-family: 'Caudex', serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    
    
}

.destinationpicText button{
    font-family: 'Caudex', serif;
    text-transform: uppercase;
    font-size: 14px;
    background: #eedfe0;
    color: #4b4b4b;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    border: 1px solid #eedfe0;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.destinationpicText button:hover{
    background: #a97a7d;
    border: 1px solid #a97a7d;
}    

.boxbanner1{
    padding-top: 20px;
    padding-bottom: 50px;
    
}
.boxbanner1 h1{
    color: #4b4b4b;
    font-weight: 400;
    margin: 20px 0 20px 0;
    text-align: center;
    font-family: 'Caudex', serif;
    font-size: 36px;
}

.boxbanner{
    position: relative;
    background-color: #252525;
}

.boxbanner img{
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
} 

.boxbanner:hover img{
    opacity: 0.4;
    transition: opacity 0.35s, transform 0.35s;
}  

.bannerInfo{
    position: absolute;
    top: 0px;
    text-align: left;
    padding: 50px 110px;
    width: 100%;
    height: 100%;
}

.bannerInfo h2{
    margin-bottom: 30px;
    color: #fff;
}

.bannerInfo p{
  opacity: 0;
  color: #fff;
  font-weight: 400;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,10px,0); 
  transform: translate3d(0,10px,0);
  margin-bottom: 30px;
}

.bannerInfo:hover p {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0,0,0); 
    transform: translate3d(0,0,0);
  }

.boxbanner1 button{
    font-family: 'Caudex', serif;
    border-radius: 0%;
    font-size: 14px;
    text-transform: uppercase;
    background: #eedfe0;
    border: 1px solid #eedfe0;
    color: #4b4b4b;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.boxbanner1 button:hover{
    background: #a97a7d;
    border: 1px solid #a97a7d;
    
}

@media (max-width: 1200px){
    .bannerInfo {
    padding: 10px 30px;
    }
}
@media (max-width: 992px){
    .bannerInfo {
    padding: 10px 30px;
    }
}
@media (max-width: 576px){
    .bannerInfo {
    padding: 10px 30px;
    }
}

@media (max-width: 767px) {
    .destinationpic {
      padding: 160px 0 190px; } 
}

@media screen and (max-width: 600px) {
    .destinationpic {
      padding: 120px 0 150px; } 
}


